.dotMouseStop {
    width: 5px;
    height: 5px;
    background-color: orange;
    position: absolute;
}

.dotMouseClick {
    width: 5px;
    height: 5px;
    background-color: yellow;
    position: absolute;
}